# Puerto donde corre el servicio
PORT=3003

# ======== Producción (RDS en AWS) ==========
DB_HOST=address-db.cvenbzpvc9ya.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=ecomadmin
DB_PASSWORD=ecompass
DB_NAME=address_db

# ======== Local (Docker Compose) ==========
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=address_db

# Secreto JWT (si más adelante deseas reactivarlo)
JWT_SECRET=clave_secreta_global_ecomvida
