# Binarios compilados
/main

# Archivos temporales del sistema
*.log
*.tmp

# Dependencias
vendor/

# Archivos del entorno
.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de Go
*.test
coverage.out
