# Puerto de la API
PORT=3001

# Configuración de la base de datos RDS PostgreSQL
DB_HOST=auth-db.cg9go1thnm7i.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=auth_db
DB_USER=ecomadmin
DB_PASSWORD=ecompass

# Secreto para firmar tokens JWT
JWT_SECRET=secretoecom
