# Node modules
node_modules/

# Archivos sensibles
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de construcción
dist/
build/

# Docker
*.tar

# IDEs y editores
.vscode/
.idea/
